/*--------------- Default Styles (Mobile-first Approach)  --------------- */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype supports variations"),
            url("fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype-variations");
    font-weight: 100 1000;
}

:root {
    /* colors */
    --white: #FFFFFF;

    /* typography */
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #1F2937;
}

/*----- Header -----*/
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

input {
    border-radius: 5px;
    height: 37px;
    margin-right: 1rem;
}

select {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid var(--white);
    border-radius: 5px;
    color: var(--white);
    background-color: #1F2937;
    font-family: "Inter";
}

button {
    border: none;
    border-radius: 5px;
    background-color: #3D4B60;
    color: var(--white);
    padding: 0.70rem 1rem;
    font-family: "Inter";
    justify-self: center;
    margin-top: 1rem;
}

/*----- Main -----*/
#colors {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.color {
    width: 20vw;
    height: 80vh;
}
.clean {
    color: var(--white);
    text-align: center;
}

/*--------------- 600px width Screen  --------------- */

@media only screen and (min-width: 600px) {

    /*---------- Header -----------*/
    header {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    input {
        margin-right: 0;
    }
    
    select {
        width: 50%;
    }
    
    button {
        margin-top: 0;
    }
}

/*--------------- 900px width Screen  --------------- */

@media only screen and (min-width: 900px) {

    /*---------- Header -----------*/
    header {
        max-width: 900px;
        margin: auto;
    }

    /*----- Main -----*/
    #colors {
        width: 900px;
        margin: auto;
    }
    .color {
        width: 180px;
    }
}
